body
  background: url('../img/blue-wooden-texture.jpg')
  margin: 0
  padding: 0

.main_container  
  width: fit-content
  background: url('../img/ning.jpg') center (center / cover) no-repeat
  margin: 40px auto
  padding: 0 25px 0 25px
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8)

.logo
  display: flex
  justify-content: center

.logo_item
  padding: 0 10px
  &::after
    content: ''
    display: block
    height: 2px
    width: 0%
    background-color: #00000091
    transition: 0.5s all
  &:hover
    &::after
      width: 100%

.main_content_section
  padding: 50px 0
  max-width: 1000px
  text-align: center
  
@media screen and (min-width: 426px)
  .carousel__inner
    display: none
  .adaptive
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: baseline

.img_hobby
  margin-top: 40px

@media screen and (max-width: 425px)
  .adaptive
    display: none
  .carousel__inner
    &:hover
      position: relative
      display: flex
      flex-wrap: wrap
      justify-content: space-evenly
      align-items: baseline
      margin: 10px auto
  .main_conteiner
    max-width: fit-content
  .main_content_section
    max-width: 100vw
  .carousel__inner img
    height: 300px
    max-width: 100vw
    margin: 10px
    padding: 15px 15px 15px 10px
  .slick-slide img
    display: inline-block  
  .slick-dots 
    text-align: center
    display: flex
    justify-content: center
    list-style: none
  .slick-dots button
    font-size: 0
    background: #948b8477
    border: 1px solid transparent
    width: 25px
    margin: 5px
  .slick-dots li[class="slick-active"] button 
    background: #a3a1a0
    border-color: #05050579
  .carousel__inner .slick-arrow
    position: absolute
    top: 50%
    margin: -35px 0 0 0
    z-index: 2
  .carousel__inner .slick-arrow.slick-prev 
    left: 0
  .carousel__inner .slick-arrow.slick-next 
<<<<<<< HEAD
    right: -7px
=======
    right: 0
>>>>>>> main
