body {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/blue-wooden-texture.jpg");
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  background-color: #1e2939d3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-weight: 500;
  line-height: 40px;
  padding: 0 10px;
  margin: 0;
}

.menu_link {
  text-decoration: none;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: url("../img/ning.jpg") center center/cover no-repeat;
  margin: 40px auto;
  padding: 0 0 0 25px;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_item {
  padding: 0 10px;
}

.logo_item::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: #00000091;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.logo_item:hover::after {
  width: 100%;
}

.main_content_section {
  padding: 20px 55px 50px 55px;
}

.main_content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.about_me_section {
  margin: 0 0 40px 0;
}

.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 0 20px 0;
}

.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
}

.about_me_name_description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.about_my_projects {
  margin: 0 0 50px 0;
}

.my_projects_list {
  padding: 0 0 0 17px;
}

.my_projects_item {
  color: #000;
  font-weight: bold;
}

.my_projects_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4e0296;
}

.my_projects_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my_projects_bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.my_work_experience_company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin: 10px 0 10px 0;
}

.my_work_experience_posotion {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.my_work_experience_period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.my_work_experience_divider {
  color: #000000;
}

.my_work_experience_dutis {
  padding-left: 18px;
}

.my_work_experience_duti {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my_work_experience_company_block {
  margin: 0 15px 0 0;
}

.about_me_education {
  margin-top: 40px;
}

.my_education_speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px 0 10px 0;
}

.sidebar_section {
  background-color: #1E2939;
  width: 370px;
  padding: 40px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
}

.img {
  width: -webkit-fill-available;
}

.contacts_section, .tech_skills_section {
  margin: 50px 0 0 40px;
}

.soft_skills_section {
  margin: 40px 0 0 40px;
}

.section_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.contacts_section_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}

.contacts_section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.tech_skills_list, .soft_skills_list {
  padding: 0 0 0 17px;
}

.tech_skills_item, .soft_skills_list_item {
  color: #FB6D3A;
}

.tech_skills_item_text, .soft_skills_item_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */